$primary-color: #1a237e; // Dark blue
$secondary-color: #303f9f; // Indigo
$text-color: #333;
$light-text-color: #555;
$background-color: #f0f2f5;
$card-background: #ffffff;
$border-color: #ccc;
$focus-shadow-color: rgba(26, 35, 126, 0.2);

$border-radius-normal: 12px;
$border-radius-large: 25px;